<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="host" value="localhost"/>
		<add key="port" value="3306"/>
		<add key="user" value="root"/>
		<add key="password" value=""/>
		<add key="database" value="agenda_suzukidb"/>
		<add key="mysqlVer" value="8.2.0-mysql"/>
		<add key="loginUser" value="Andre"/>
		<add key="loginPassword" value="1234"/>
	</appSettings>
</configuration>